In [2]:
import pandas as pd

In [19]:
a = pd.read_csv('./dataset/gen/melting_tank.csv')

In [21]:
a = a.iloc[:,3:]
a

        MOTORSPEED  MELT_WEIGHT  INSP TAG
0              116          631  3.19  OK
1               78          609  3.19  OK
2              154          608  3.19  OK
3              212          606  3.19  OK
4             1736          604  3.21  OK
...            ...          ...   ...  ..
835195        1743          318  3.21  OK
835196         206          317  3.19  OK
835197         148          316  3.20  OK
835198           0          314  3.19  OK
835199         125          312  3.20  OK

[835200 rows x 4 columns]

In [22]:
info = a.dtypes

In [26]:
'str' in info

False

In [15]:
for col in a.columns:
    if info[col]=='O':
        uni = a[col].unique()
        for i, val in enumerate(uni):
            a = a.replace(uni, i)

a

        TAG
0         0
1         0
2         0
3         0
4         0
...     ...
835195    0
835196    0
835197    0
835198    0
835199    0

[835200 rows x 1 columns]