In [1]:
from tensorflow.python.client import device_lib
import os
device_lib.list_local_devices()

[name: "/device:CPU:0"
 device_type: "CPU"
 memory_limit: 268435456
 locality {
 }
 incarnation: 14669409001624067958
 xla_global_id: -1,
 name: "/device:GPU:0"
 device_type: "GPU"
 memory_limit: 3643801600
 locality {
   bus_id: 1
   links {
   }
 }
 incarnation: 901221671079254803
 physical_device_desc: "device: 0, name: NVIDIA GeForce RTX 3060 Laptop GPU, pci bus id: 0000:01:00.0, compute capability: 8.6"
 xla_global_id: 416903419]

In [2]:
os.environ["CUDA_VISIBLE_DEVICES"] = "0"

# HomeMade PCA 불러오기

In [3]:
from tool import handmade_pca

Handmade PCA가 초기화 되었습니다.
pandas 라이브러리를 불러온 후, 'data = pandas.read_csv(데이터 경로)' 코드를 통해 데이터를 준비해주세요.
데이터를 준비했다면, 'pca = handmade_pca(data)' 코드를 통해 분석을 시작해주세요.

# 필요 라이브러리 추가로 불러오기

In [4]:
import pandas as pd # as를 통해 패키지명 축약 가능

# HandMade PCA 이용하여 분석 진행

## 용해탱크 데이터

### Pandas를 통해 데이터 준비하기

In [5]:
melting_tank_data = pd.read_csv('./dataset/gen/melting_tank.csv')

In [6]:
pd.set_option('display.max_columns', 50) # 컬럼 생략없이 데이터 프레임 확인 가능
melting_tank_data

                  STD_DT     NUM  MELT_TEMP  MOTORSPEED  MELT_WEIGHT  INSP TAG
0        2020-03-04 0:00       0        489         116          631  3.19  OK
1        2020-03-04 0:00       1        433          78          609  3.19  OK
2        2020-03-04 0:00       2        464         154          608  3.19  OK
3        2020-03-04 0:00       3        379         212          606  3.19  OK
4        2020-03-04 0:00       4        798        1736          604  3.21  OK
...                  ...     ...        ...         ...          ...   ...  ..
835195  2020-04-30 23:59  835195        755        1743          318  3.21  OK
835196  2020-04-30 23:59  835196        385         206          317  3.19  OK
835197  2020-04-30 23:59  835197        465         148          316  3.20  OK
835198  2020-04-30 23:59  835198        467           0          314  3.19  OK
835199  2020-04-30 23:59  835199        453         125          312  3.20  OK

[835200 rows x 7 columns]

### 전처리 및 시각화 진행

In [7]:
melting_tank_pca = handmade_pca(melting_tank_data)

'.set_data()'를 통해 변수를 지정하고 분석을 위한 데이터를 생성해주세요.

In [8]:
melting_tank_pca.set_data()

변수:
1 STD_DT
2 NUM
3 MELT_TEMP
4 MOTORSPEED
5 MELT_WEIGHT
6 INSP
7 TAG

'.하나 이상의 독립변수와 종속변수 하나를 지정해주세요.
위의 보기를 확인하고 독립변수들의 번호를 x, 종속변수의 번호를 y에 넣어주세요.

***독립변수 선택이 어렵다면 날짜, 번호 관련 변수를 제외하고 모두 선택해주세요.***

ex1) x: 1 2 3 4 5 8 9 10 / y = 46
ex2) x: 1:5 8:10 / y = 46
ex3) x: 1:5 8 9 10 / y = 46
x: 3:6
y: 7
데이터 불균형이 존재합니다. '.smote()'를 통한 데이터 불균형 해소를 추천합니다.'
SMOTE는 최근접 이웃(k-NN) 알고리즘을 기반으로 하여 데이터를 새로 생성해 종속변수 데이터가 같은 비율을 갖게 하는 알고리즘 입니다.

        MELT_TEMP  MOTORSPEED  MELT_WEIGHT  INSP TAG
0             489         116          631  3.19  OK
1             433          78          609  3.19  OK
2             464         154          608  3.19  OK
3             379         212          606  3.19  OK
4             798        1736          604  3.21  OK
...           ...         ...          ...   ...  ..
835195        755        1743          318  3.21  OK
835196        385         206          317  3.19  OK
835197        465         148          316  3.20  OK
835198        467           0          314  3.19  OK
835199        453         125          312  3.20  OK

[835200 rows x 5 columns]

In [9]:
melting_tank_pca.smote()

기존 데이터 형태:  (835200, 4) (835200,)
SMOTE 적용 후 데이터 형태:  (1316266, 4) (1316266,)
SMOTE 적용 후 종속변수 데이터 분포:
 OK    658133
NG    658133
Name: count, dtype: int64
분석을 위한 데이터 생성이 완료되었습니다. '.train_split()'을 통해 데이터 분할을 진행하세요.
독립변수의 수가 너무 많다면 '.pca()'를 통한 차원 축소를 추천합니다.

          MELT_TEMP   MOTORSPEED  MELT_WEIGHT      INSP TAG
0        489.000000   116.000000   631.000000  3.190000  OK
1        433.000000    78.000000   609.000000  3.190000  OK
2        464.000000   154.000000   608.000000  3.190000  OK
3        379.000000   212.000000   606.000000  3.190000  OK
4        798.000000  1736.000000   604.000000  3.210000  OK
...             ...          ...          ...       ...  ..
1316261  435.955279    67.955279   647.910559  3.199553  NG
1316262  415.020170    72.020170   496.080680  3.190000  NG
1316263  444.306938   172.043316  1696.870051  3.190000  NG
1316264  341.880105   240.940053    89.760210  3.186467  NG
1316265  453.842798    89.471606   314.157202  3.190000  NG

[1316266 rows x 5 columns]

In [10]:
# melting_tank_pca.pca()

In [11]:
# melting_tank_pca.pca_visualize(dimension='2d')

In [ ]:
melting_tank_pca.train_split()

원하는 훈련용/시험용 데이터 비율을 입력해주세요. (추천: 0.6 0.2 0.2)
검증용 데이터를 필요로 하지 않는 모델에서는 검증용 데이터는 훈련용 데이터로 사용됩니다.
숫자 0을 입력하면 추천 개수로 데이터 분할을 진행합니다.

In [ ]:
melting_tank_pca.train()

In [ ]:
melting_tank_pca.predict()

## CNC 데이터

### Pandas를 통해 데이터 준비하기

In [ ]:
cnc_data = pd.read_csv('./dataset/gen/data.csv')

In [ ]:
pd.set_option('display.max_columns', 50) # 컬럼 생략없이 데이터 프레임 확인 가능
cnc_data

### 전처리 및 시각화 진행

In [ ]:
cnc_pca = handmade_pca(cnc_data)

In [ ]:
cnc_pca.set_data()

In [ ]:
cnc_pca.smote()

In [ ]:
cnc_pca.pca()

In [ ]:
cnc_pca.train_split()

In [ ]:
cnc_pca.train()

In [ ]:
cnc_pca.predict()

# 업데이트 예정..